.list {
  position: fixed;
  height: 100vh;

  margin-left: 0.4rem;
}

.list > ul {
  margin-top: 15vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

.list > ul > li > a svg {
  width: 30px;
  margin-left: 10%;
  transition: 1s;
}

.list > ul > li > a svg:hover {
  fill: yellowgreen;
  margin-bottom: 1rem;
  transition: 1s;

  scale: 1;

  background: var(--linear-main-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list > ul::after {
  content: "";
  display: block;
  width: 3px;
  height: 100vh;
  margin-left: 0.4rem;
  background-color: black;
}
