.container svg {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.container h2 {
  margin: 0.4rem 0 0 0;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(160, 0, 234, 0.1),
    rgba(37, 133, 133, 0.1)
  );
  border: 2px solid black;
  border-radius: 3px;

  font-family: var(--font-mono);
}

@media screen and (max-width: 900px) {
  .container svg {
    width: 120px;
    height: 120px;
  }

  .container h2 {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 300px) {
  .container svg {
    width: 80px;
    height: 80px;
  }

  .container h2 {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 190px) {
  .container svg {
    width: 65px;
    height: 65px;
  }

  .container h2 {
    font-size: 0.5rem;
  }
}
