@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
:root {
  --border-radius: 1px solid #64ffda;
  --green: #64ffda;
  --navy-shadow: rgba(2,12,27,0.7);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --font-mono:  'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --linear-main-text: linear-gradient( 
    to right, #4eb59d, #5aab98, #4ddfbd, #195440); 
    --font-outfit: 'Outfit', sans-serif;
}


body {
  margin: 0px;
}


.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right,#e4e6ff,#fff 40%,#e4ebff)
}

