@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
:root {
  --border-radius: 1px solid #64ffda;
  --green: #64ffda;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --linear-main-text: linear-gradient(
    to right,
    #4eb59d,
    #5aab98,
    #4ddfbd,
    #195440
  );
  color-scheme: only light;

  --font-outfit: "Outfit", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  scroll-padding-top: auto;
  max-width: 2040px;
  scrollbar-width: auto; /* "auto" or "thin" */

  scrollbar-color: rgb(48, 36, 49) rgba(87, 244, 255, 0.1);
  background: linear-gradient(
    to bottom right,
    rgba(211, 240, 247, 0.15),
    rgba(226, 231, 231, 0.2) 40%,
    rgb(206, 244, 244, 0.4)
  );
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #64ffda rgba(87, 244, 255, 0.1); /* color of the tracking area */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;

  height: 100vh;
  width: 100%;

  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 98px;

  z-index: 100;
}

@media screen and (max-width: 950px) {
  .App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
